### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.idea
.project
.keep
.git

# Thumbnails
._*

### Node ###
node_modules
npm-debug.log

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
*.sublime-project

#sftp configuration file
sftp-config.json

### PhpStorm ###
### RubyMine ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/
.project
.svn

### BEM ###
.bem/cache/
.enb/tmp/
src/libs/*
.bem/cache/
src/*bundles/*/*.*
!src/*bundles/*/*.bemdecl.js
src/*bundles/*/*.bemhtml.bemdecl.js
!src/*bundles/*/*.bemjson.js
!src/*bundles/.bem/*