@font-face {
    font-family: 'ReformaGrotesk';
    font-weight: 200;
    font-style: normal;

    src: url('reformagrotesk-light.eot');
    src: url('reformagrotesk-light.eot?#iefix') format('embedded-opentype'),
    url('reformagrotesk-light.woff') format('woff'),
    url('reformagrotesk-light.ttf') format('truetype'),
    url('reformagrotesk-light.svg#reformagrotesklightcregular') format('svg');
    }
