@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    font-style: normal;

    src: url('font__pt-sans_face_bold.eot');
    src: url('font__pt-sans_face_bold.eot?#iefix') format('embedded-opentype'),
        url('font__pt-sans_face_bold.svg#PTSans') format('svg'),
        url('font__pt-sans_face_bold.woff') format('woff'),
        url('font__pt-sans_face_bold.ttf') format('truetype');
}
