@font-face {
    font-family: 'oranienbaum';
    src: url('oranienbaum.eot');
    src: url('oranienbaum.eot?#iefix') format('embedded-opentype'),
         url('oranienbaum.woff') format('woff'),
         url('oranienbaum.ttf') format('truetype'),
         url('oranienbaum.svg#oranienbaum') format('svg');
    font-style: normal;
    font-weight: normal;
}
