@font-face {
    font-family: 'FuturaFuturis';
    font-weight: bold;
    font-style: normal;

    src: url('futurafuturis-bold.eot');
    src: url('futurafuturis-bold.eot?#iefix') format('embedded-opentype'),
    url('futurafuturis-bold.woff') format('woff'),
    url('futurafuturis-bold.ttf') format('truetype'),
    url('futurafuturis-bold.svg#futurafuturiscbold') format('svg');
    }
